# a python array of public IP addresses pragma_boot can use
public_ips = ["198.202.88.50", "198.202.88.51", "198.202.88.52", "198.202.88.53", "198.202.88.54", "198.202.88.55", "198.202.88.56", "198.202.88.57", "198.202.88.58", "198.202.88.59"]

# metmask for public IP addresses
netmask="255.255.255.0"

# gateway 
gw="198.202.88.1"

# DNS server
dns="8.8.8.8"

# available vlans that can be used for private network
vlans= range(4,20)

# specify alternate directory for images if using NFS; required (leave empty for default)
diskdir = ""

# specify specific vm-containers only (space separated string)
only_container_hosts = "vm-container-0-0 vm-container-0-1 vm-container-0-2 vm-container-0-3"

# limit number of cpus used by pragma_boot on each node
max_cpus = 8
